@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
.container{
    background-image: url(./img/Rectangle\ 9.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
}
.navber{
    display: flex;   
    padding: 20px;
  
}
nav{
    
    flex:1;
    text-align: center;

}
nav ul {  
    margin-left: 100px;
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    color: white;
    display: inline-block;
    
    margin-right: 20px;
}
.container .max-with{
    
    margin-top: 150px;
    margin-left: 450px;
        height: 467px;
    width: 812px;
    padding: 20px; 
      
    }
    .container .home-text .text-1{
        color:white;
    height: 154px;
     width: 453px;
    text-align: center;
font-size: 50px;
font-weight: 600;
    margin-left: -3px;
}
.container .home-text .text-2{
    margin-left: -100px;
    width: 612px;
    text-align: center;
    font-size: 25px;
    color:white;
    
    
}
.container .home-text .text-3{
    width: 200px;
    display: inline-block;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 8px 4px;
    margin: 30px 0;
    margin-left: 100px;
    
 
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  
}
.categories{
    margin: 70px 0;
    
}
.col-3{
    padding-left: 100px;
    align-items: center;
    height: 432px;
    width: 188px;
    margin: 30px;
   
}
.small{
    
    max-width: 1080px;
   margin: auto;
   padding-left: 25px;
   padding-right: 25px;
}
 #b{
    text-align: center;
    font-size: 30px;
}
.c{
    margin-left: 30px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    margin:10px
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
  min-width: 100px;
  padding: 50px 0;
}
.col-h1{
    font-size: 20px;
    line-height: 62px;
    margin: 25px;
}
.col-2 h4{
    
    width: 400px;
    font-family: Georgia;
}
.col-2 h2{
    font-size: 30px;
    width: 350px;
}
.btn{
    
    font-size: 20px;
    display: inline-block;
    background-color:darkturquoise;
    color: white;
    border-radius: 30px;
    padding: 8px 30px;
    margin: 30px 0;
    margin-left: 50px;
   
}
.khoi3{
   
    width: 1548.23px;
height: 638px;
}
.col-4{

width: 544px;
height: 361.52px;
}
.col-4 h3{
 font-size: 20px;
 font-family: Graphik;
 line-height: 28px;
 font-style: normal;
font-weight: bold;
}
.col-4 h2{
    font-size: 30px;
    width: 200px;
    height: 80px;
}
.col-6{
    padding-top: 10px;
    display: flex;
}
.btn-3{
  background: cyan;
    color: white;
    border-radius: 30px;
    padding: 8px 30px;
    margin-left: 20px;

}
.khoi4{
    width: 1440px;
height: 877.85px;
}
.clomn{
    
    text-align: center;
}


.item {
    margin-top: 50px;
}

.ibm {

    text-align: center;

}

.ibm-logo {
    width: 120px;
    height: 80px;
    margin-top: 50px;
}

.ibm-text {
    width: 954px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    color: #374754;
}
.feat-title{
    font-size: 40px;
}
.avatar {
    
    margin-top: 50px;
    width: 183px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.avatar-text {
    font-size: 18px;
    color: #374754;
}

.pricing {
    width: 100%;
    height: 1110px;
    margin-top: 100px;
    background: #252B42;
    margin-top: 100px;
}
.pricing-title {
    padding-top: 58px;
    font-size: 58px;
    color: #FFFFFF;
    text-align: center;
}

.pricing-text {
    width: 330px;
    font-size: 19px;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}

.pricing-colum {
    margin-top: 80px;
    width: 1105px;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}

.pricing-colum-1 {
    margin-top: 43px;
    width: 305px;
    height: 585px;
    background: white;
    border-radius: 7px;
    text-align: center;
}

.pricing-colum-1 > h3 {
    margin-top: 46px;
}

.pricing-colum-text {
    margin-top: 5px;
    width: 141px;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    color: #374754;
}

.money {
    width: 143px;
    margin-top: 30px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.money-text {
    font-size: 77px;
    font-weight: bold;
}

    .money-2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 5px;
    }

.money-text-1 {
    font-size: 30px;
    font-weight: bold;
}

#text {
    padding: 12px;
    font-size: 16px;
    color: #374754;
}

.btn-1 {
    margin-top: 20px;
}

.btn-1 > button {
    width: 255px;
    height: 56px;
    border-radius: 35px;
    padding: 18px 38px 18px 38px;
    color: white;
    background: #2091F9;
    border: none;
    font-size: 16px;
}
.pricing-colum-text-2 {
    margin-top: 7px;
    width: 141px;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
}
.pricing-colum-2 {
    padding-top: 78px;
    width: 337px;
    height: 672px;
    background: #2091F9;
    border-radius: 7px;
    text-align: center;
    color: white;
}

#text-1{
    padding: 11px;
    font-size: 18px;
    color: white;
}

.btn-2 {
    margin-top: 20px;
}

.btn-2 > button {
    margin-top: 10px;
    width: 255px;
    height: 56px;
    border-radius: 35px;
    padding: 18px 38px 18px 38px;
    color: #2091F9;
    background: white;
    border: none;
    font-size: 16px;
}
.feat-footer > img {
    width: 100%;    
}
.contact {
    
    background: white;
    padding: 0 0 40px 0;
}
.contact .title h1 {
    text-align: center;
    color: black;
}
.contact .title p {
    text-align: center;
    color: black;
}
.content{
display: flex;
}
.content-1 form {
    padding: 20px;
    border: 1px solid #cecece;
    border-radius: 5px;
    width: 50%;
    box-shadow: 0px 0px 6px 0px #aeaeae;
    margin: 0 auto;
    margin-top: 40px;
}
.content-1 input {
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding: 6px;
    margin: 10px 0 0 0;
    border: none;
    background: #f1f1f1;
}
.content-1 {
    width: 50%;
}
.content-1 textarea {
    outline: none;
    border-radius: 5px;
    padding: 6px;
    border: none;
    background: #f1f1f1;
    max-width: 335px;
    min-height: 140px;
    min-width: 240px;
    max-height: 300px;
    margin: 10px 0 0 0;
    width: 100%;
}
.content-1 button {
    padding: 10px 60px;
    margin: 20px 0;
    border-radius: 10px;
    background: var(--color-background);
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
}
.content-2 {
    margin-top: 40px;
    width: 60%;
}
.contact-2 {
  
    display: flex;
    padding: 25px 0;
    justify-content: space-around;
}
.contact-2 img {
    padding-left: 40px;
    color: var(--color-background);
    margin: 0 0 10px 0;
}
.contact-2 p {
    color: grey;
}
.map{
    margin-left: 70px;
}
.map iframe{
    width: 70%;
    height: 170px;
}
.contact-social {
    padding: 40px 70px;
    text-align: left;
}
.contact-social a {
    color: var(--color-background);
    margin: 10px;
   
}
footer {
    display: flex;
    padding: 5% 10%;
    background: #10163a;
    color: white;
    overflow: hidden;
}
.table {
    width: 70%;
    text-align: left;
}
.table th {  
    font-size: 20px;    
    color: white;
}
.table a {
    color: white;
    margin: 18px 0 0 0;
    display: inline-block;
}

.footer-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer-1 div {
    width: 100%;
}
.footer-1 i {
    font-size: 30px;
    margin: 0 10px 0 0;
}
.ion {
    justify-content: end;
}
